@page "/game-description"
@using System.Resources
@using MediaevalFightForFood.Resources

@{
    var resourceRu = new ResourceManager(typeof(GameDescriptionRu));
    var resourceEn = new ResourceManager(typeof(GameDescriptionEn));
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@resourceRu.GetString("DescriptionHeader") - @resourceEn.GetString("DescriptionHeader")</title>
    <link href="css/site.css" rel="stylesheet" />
</head>
<h1>@resourceRu.GetString("DescriptionHeader")</h1>

<pre class="pre-wrap">
    @resourceRu.GetString("DescriptionBody")
</pre>

<h2>@resourceRu.GetString("GreenUnits")</h2>
<div class="unit-description">
    <div class="unit collector green-team"></div> @resourceRu.GetString("Collector")
</div>
<div class="unit-description">
    <div class="unit archer green-team"></div> @resourceRu.GetString("Archer")
</div>
<div class="unit-description">
    <div class="unit shovelman green-team"></div> @resourceRu.GetString("Shovelman")
</div>

<h2>@resourceRu.GetString("RedUnits")</h2>
<div class="unit-description">
    <div class="unit collector red-team"></div> @resourceRu.GetString("Collector")
</div>
<div class="unit-description">
    <div class="unit knight red-team"></div> @resourceRu.GetString("Knight")
</div>
<div class="unit-description">
    <div class="unit shovelman red-team"></div> @resourceRu.GetString("Shovelman")
</div>
<div class="unit-description">
    <div class="unit cannon red-team"></div> @resourceRu.GetString("Cannon")
</div>
<h3>@resourceRu.GetString("Authors")</h3>

<h1>@resourceEn.GetString("DescriptionHeader")</h1>

<pre class="pre-wrap">
    @resourceEn.GetString("DescriptionBody")
</pre>

<h2>@resourceEn.GetString("GreenUnits")</h2>
<div class="unit-description">
    <div class="unit collector green-team"></div> @resourceEn.GetString("Collector")
</div>
<div class="unit-description">
    <div class="unit archer green-team"></div> @resourceEn.GetString("Archer")
</div>
<div class="unit-description">
    <div class="unit shovelman green-team"></div> @resourceEn.GetString("Shovelman")
</div>

<h2>@resourceEn.GetString("RedUnits")</h2>
<div class="unit-description">
    <div class="unit collector red-team"></div> @resourceEn.GetString("Collector")
</div>
<div class="unit-description">
    <div class="unit knight red-team"></div> @resourceEn.GetString("Knight")
</div>
<div class="unit-description">
    <div class="unit shovelman red-team"></div> @resourceEn.GetString("Shovelman")
</div>
<div class="unit-description">
    <div class="unit cannon red-team"></div> @resourceEn.GetString("Cannon")
</div>
<h3>@resourceEn.GetString("Authors")</h3>
<style>
    .unit-description {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .unit {
        width: 50px;
        height: 50px;
    }

    h1 {
        color: limegreen
    }

    .pre-wrap {
        white-space: pre-wrap;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
</style>